:root{
    --primary: lightblue;
}

header{
    background-color: var(--primary)
}



ul li{
    list-style: none;
    font-size: large;
    background-color: var(--primary);
    border: 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;

}

section ul li{
    visibility: hidden;
}

section ul li:hover {
    background-color: blueviolet;
}

footer{
    background-color: var(--primary);
}